<!-- partial:partials/_sidebar.html -->
<aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
	<div class="mdc-drawer__header">
		<a href="<?php echo $siteURL?>devices/home.php" class="brand-logo">
			<img src="<?php echo $siteURL?>/assets/images/iot_logo.png" alt="logo">
		</a>
	</div>
	<div class="mdc-drawer__content">
		<div class="mdc-list-group">
			<nav class="mdc-list mdc-drawer-menu">
				<div class="mdc-list-item mdc-drawer-item">
					<a class="mdc-drawer-link" href="<?php echo $siteURL?>supplier/pages/orders/supplier_dashboard.php">
						<i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon"
						   aria-hidden="true">home</i>

						Dashboard
					</a>
				</div>
				<div class="mdc-list-item mdc-drawer-item">
					<a class="mdc-drawer-link" href="<?php echo $siteURL?>supplier/pages/orders/active_orders.php">
						<i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon"
						   aria-hidden="true">home</i>
						Active Order
					</a>
				</div>
				<div class="mdc-list-item mdc-drawer-item">
					<a class="mdc-drawer-link" href="<?php echo $siteURL?>supplier/pages/orders/historical_orders.php">
						<i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon"
						   aria-hidden="true">home</i>
						Historical Order
					</a>
				</div>
				<div class="mdc-list-item mdc-drawer-item">
					<a class="mdc-drawer-link" href="<?php echo $siteURL?>supplier/pages/orders/order_shipment.php">
						<i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon"
						   aria-hidden="true">home</i>
						Shipment Details
					</a>
				</div>
				<div class="mdc-list-item mdc-drawer-item">
					<a class="mdc-drawer-link" href="<?php echo $siteURL?>supplier/pages/orders/supplier_dashboard.php">
						<i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon"
						   aria-hidden="true">home</i>
						Invoice Details
					</a>
				</div>
				<div class="mdc-list-item mdc-drawer-item">
					<a class="mdc-drawer-link" href="<?php echo $siteURL?>supplier/pages/orders/supplier_log.php">
						<i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon"
						   aria-hidden="true">home</i>
						Supplier Log
					</a>
				</div>

<!--				<div class="mdc-list-item mdc-drawer-item">-->
<!--					<a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel"-->
<!--					   data-target="ui-sub-menu">-->
<!--						<i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon"-->
<!--						   aria-hidden="true">dashboard</i>-->
<!--						Device Config-->
<!--						<i class="mdc-drawer-arrow material-icons">chevron_right</i>-->
<!--					</a>-->
<!--					<div class="mdc-expansion-panel" id="ui-sub-menu">-->
<!--						<nav class="mdc-list mdc-drawer-submenu">-->
<!--							<div class="mdc-list-item mdc-drawer-item">-->
<!--								<a class="mdc-drawer-link" href="<?php echo $siteURL?>supplier/pages/supplier/addDevice.php">-->
<!--									Add Device-->
<!--								</a>-->
<!--							</div>-->
<!--							<div class="mdc-list-item mdc-drawer-item">-->
<!--								<a class="mdc-drawer-link" href="<?php echo $siteURL?>supplier/pages/device_type_config/view_dev_type.php">-->
<!--									Device Type-->
<!--								</a>-->
<!--							</div>-->
<!--							<div class="mdc-list-item mdc-drawer-item">-->
<!--								<a class="mdc-drawer-link" href="<?php echo $siteURL?>supplier/pages/device_parameter_config/view_dev_parameter.php">-->
<!--									Device Parameter-->
<!--								</a>-->
<!--							</div>-->

<!--							<div class="mdc-list-item mdc-drawer-item">-->
<!--								<a class="mdc-drawer-link" href="<?php echo $siteURL?>supplier/pages/supplier/view_devices.php">-->
<!--									View Device-->
<!--								</a>-->
<!--							</div>-->
<!--&lt;!&ndash;							<div class="mdc-list-item mdc-drawer-item">&ndash;&gt;-->
<!--&lt;!&ndash;								<a class="mdc-drawer-link" href="<?php echo $siteURL?>supplier/notification/email_notification.php">&ndash;&gt;-->
<!--&lt;!&ndash;									Email Config&ndash;&gt;-->
<!--&lt;!&ndash;								</a>&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->
<!--						</nav>-->
<!--					</div>-->
<!--				</div>-->
				<!--<div class="mdc-list-item mdc-drawer-item">
					<a class="mdc-drawer-link" href="pages/tables/basic-tables.html">
						<i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon"
						   aria-hidden="true">grid_on</i>
						Users
					</a>
				</div>-->
				<!--<div class="mdc-list-item mdc-drawer-item">
					<a class="mdc-drawer-link" href="pages/charts/chartjs.html">
						<i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon"
						   aria-hidden="true">pie_chart_outlined</i>
						Logs
					</a>
				</div>-->
			</nav>
		</div>
	</div>
</aside>
<!-- partial -->